.align {
  text-align: center;
  font-style: italic;
}

#title {
  color: grey;
}

.column1 {
  float: left;
  width: 400px;
  height: 375px;
  margin-left: 10%;
  padding-right: 5%;
  border-radius: 3%;
}

.text1 {
  font-family: monospace;
  text-align: left;
}

.text1a {
  font-family: monospace;
  text-align: left;
}

img {
  width: 150px;
  float: left;
  border-radius: 10%;
  padding-right: 2px;
}

.box1a {
  padding: 4px;
  background-color: #00FFFF;
  border-radius: 3%;
}

.box1b {
  border: 2px solid #00FA9A;
  padding: 4px;
  background-color: #00FA9A;
  display: inline-block;
  border-radius: 3%;
  margin-top: 5px;
}

#header1 {
  text-align: center;
  margin-bottom: 5%;
  margin-top: auto;
}

.highlight {
color: red
}

.text2 {
  font-family: monospace;
  text-align: left;
}

.box2 {
  border: 2px solid #00FA9A;
  padding: 4px;
  background-color: #00FA9A;
  display: inline-block;
  border-radius: 3%;
}

 #header2 {
  text-align: center;
  margin-bottom: 5%;
  margin-top: auto;
}

.column2 {
  float: right;
  width: 300px;
  margin-right: 10%;
  padding-left: 5%;
}
